#pm-sidebar {
    width: 250px;
    margin-left: 10px;
    height: 100dvh;
}

#pm-sidebar::before {
    content: "";
    background-color: #3b3b3b;
    width: 90%;
    height: 1px;
}

.control-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 95%;
    height: 40px;
    background-color: transparent;
    color: rgb(173, 171, 171);
    border: none;
    cursor: pointer;
    transition: 0.2s linear;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 5px;
    border-radius: 10px;
    position: relative;
}

.last-button {
    position: relative;
    margin-bottom: 15px;
}

.last-button::before {
    content: "";
    position: absolute;
    width: 95%;
    height: 1px;
    background-color: #3b3b3b;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 0);
}

.control-buttons:hover {
    background-color: #3f3c3c;
}

.new-conversation {
    width: 95%;
    height: 30px;
    border-radius: 8px;
    background-color: #3b3b3b;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0 10px 0;
    position: relative;
}

.new-conversation::before {
    content: "";
    background-color: #3f3c3c;
    width: 100%;
    height: 1px;
    top: auto;
    bottom: -8px;
    left: 0px;
    position: absolute;
}

.chats-list {
    padding: 0;
    overflow: auto;
    height: calc(100dvh - 70px);
    scrollbar-width: none;
    position: relative;
}

.chats-list::-webkit-scrollbar {
    display: none;
}