#pm-sidebar {
    width: 14%;
    height: 100dvh;
}

#pm-sidebar::before {
    content: "";
    background-color: #3b3b3b;
    width: 90%;
    height: 1px;
}

#pm-sidebar .control-buttons {
    display: flex;
    align-items: center;
    gap: 10px;

    width: 95%;
    height: 40px;

    background-color: transparent;
    color: rgb(173, 171, 171);

    border: none;
    cursor: pointer;

    transition: 0.2s linear;

    font-size: 16px;
    font-weight: 700;
    text-align: left;

    margin: 0 auto 5px auto;

    border-radius: 10px;

    position: relative;
}

#pm-sidebar .control-buttons.active {
    background-color: #2c2c30;
}

#pm-sidebar .last-button {
    position: relative;
    margin-bottom: 15px;
}

#pm-sidebar .last-button::before {
    content: "";
    position: absolute;
    width: 95%;
    height: 1px;
    background-color: #3b3b3b;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 0);
}

#pm-sidebar .control-buttons:hover {
    background-color: #3f3c3c;
}

#pm-sidebar .new-conversation {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;
    min-height: 30px;
    height: auto;

    border-radius: 8px;
    background-color: #3b3b3b;
    border: none;
    color: white;

    cursor: pointer;

    font-size: 16px;

    margin: 10px auto 10px auto;
    padding: 0 12px;
    position: relative;

    text-align: center;

    box-sizing: border-box;
}

#pm-sidebar .new-conversation::before {
    content: "";
    background-color: #3f3c3c;
    width: 106%;
    height: 1px;
    top: auto;
    bottom: -8px;
    left: -4%;
    position: absolute;
}

#pm-sidebar .chats-list {
    padding: 0;
    overflow: auto;
    height: calc(100dvh - 70px);
    scrollbar-width: none;
    position: relative;
}

#pm-sidebar .chats-list a {
    text-decoration: none;
}

#pm-sidebar .chats-list::-webkit-scrollbar {
    display: none;
}